.signup {
  display: flex;
  max-width: 80vw;
  margin: auto; 
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 300px);
  color: #424242;
  &--form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    label {
      font-weight: 500;
      font-size: 20px;
      line-height: 110%;
      color: #4e555d;
    }
    input {
      background: #fcfcfd;
      border: 1px solid #cfd0d7;
      box-sizing: border-box;
      border-radius: 4px;
      width: 570px;
      height: 42px;
      margin: 7px 0px;
      padding: 0px 10px
    }
    button {
      background: #1674f5;
      opacity: 0.5;
      border-radius: 32px;
      width: 207px;
      height: 42px;
      color: #ffffff;
    }
  }
}
